@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  padding: 20px 40px;
}

.liner{
  border: 1px solid black;
}
.linerblue{
  border: 1px solid blue;
}
.linerred{
  border: 1px solid red;
}